.progress-height{
    height: 25px;
}

.cpp{
    width:60%;
}

.c{
    width:50%;
}

.java{
    width: 50%;
}

.data-structure{
    width:70%;
}

.algorithm{
    width:55%;
}

.reactJS{
    width:40%;
}

.nodeJS{
    width:20%;
}

.html{
    width: 40%;
}

.bootstrap{
    width: 40%;
}

.postgreSQL{
    width: 60%;
}

.mongoDB{
    width: 40%;
}

.git{
    width:50%;
}


